@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #333333;
  --color-secondary: #242424;
  --color-accent: #ff5845;
  --color-dark: #94a3b8;
  --color-muted: rgba(255, 255, 255, 0.2);
  --font-default: 'Arimo', sans-serif;
  --font-secondary: 'Plus Jakarta Sans', sans-serif;
  --font-weight-normal: 400;
  --line-height: 1.5;
}

:root {
  font-family: var(--font-default);
  line-height: var(--line-height);
  font-weight: var(--font-weight-normal);
  color-scheme: light dark;
  background-color: var(--color-secondary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer components {
  .typography {
    h1 {
      @apply text-4xl uppercase pb-4 font-semibold md:text-6xl;
    }
    h2 {
      @apply text-4xl font-semibold mb-4 md:text-5xl;
    }
    h3 {
      font-family: var(--font-secondary);
      @apply text-xl pb-4 font-semibold lg:text-2xl;
    }
    p {
      @apply text-base font-light;
    }
  }
  .section {
    @apply py-12 px-4 lg:py-24;
  }
  .active {
    @apply text-accent;
  }
  .button {
    @apply rounded-full py-2 px-4 lg:px-6;
  }
}
