@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #155dfccc;
  --color-secondary: #f0b100;
  --color-tertiary: #c27aff;
  --color-accent: #7a2552;
  --color-bg: #000000;
  --color-muted: rgba(255, 255, 255, 0.2);
  --color-subtitle: #51a2ff;
  --font-default: 'Arimo', sans-serif;
  --font-weight-normal: 400;
}

:root {
  font-family: var(--font-default);
  line-height: 1.5;
  font-weight: var(--font-weight-normal);

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer components {
  .typography {
    h1 {
      font-size: var(--text-5xl);
      line-height: var(--line-height);
      font-weight: var(--font-weight-semibold);
      color: var(--color-black);
    }
    h2 {
      font-size: var(--text-4xl);
      line-height: var(--line-height);
      font-weight: var(--font-weight-semibold);
      color: var(--color-black);
    }
    p {
      font-size: var(--text-base);
      color: var(--color-gray-700);
    }
  }
  .active {
    color: var(--color-primary);
  }
}
