@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #155dfccc;
  --color-secondary: #f0b100;
  --color-tertiary: #c27aff;
  --color-accent: #ff5845;
  --color-bg: #242424;
  --color-back:#333333;
  --color-dark:#94A3B8;
  --color-muted: rgba(255, 255, 255, 0.2);
  --color-subtitle: #51a2ff;
  --font-default: 'Arimo', sans-serif;
  --font-secondary: "Plus Jakarta Sans", sans-serif;
  --font-weight-normal: 400;
  --line-height: 1.5;
}

:root {
  font-family: var(--font-default);
  line-height: var(--line-height);
  font-weight: var(--font-weight-normal);

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer components {
  .typography {
    h1 {
      font-size: var(--text-5xl);
      line-height: var(--line-height);
      font-weight: var(--font-weight-semibold);
    }
    h2 {
      font-size: var(--text-4xl);
      line-height: var(--line-height);
      font-weight: var(--font-weight-semibold);
    }
    h3{
      font-family: var(--font-secondary);
      font-size: var(--text-4xl);
      line-height: var(--line-height);
      font-weight: var(--font-weight-semibold);
    }
    p {
      font-size: var(--text-base);
      color: var(--color-gray-700);
    }
  }
  .active {
    @apply text-primary;
  }
  .button {
    @apply rounded-full py-2 px-4 lg:px-6;
  }
}
